table,th,td{
    table-layout: fixed;
    border: 5px solid;
    border-color: aqua;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: bisque;
}
td:nth-child(even),th:nth-child(even){
    background-color: bisque;
}
caption{
    text-align: center;
}